/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.conteiner-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #dc3545; /* Vermelho mais forte */
  color: #fff;
  text-align: center;
  z-index: center;
}

.conteiner-top h2 {
  margin: auto;
  padding-top: 5px;
  font-size: 25px;
}

/* Botão de voltar ao topo */

.voltar-ao-topo{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; /* Centralizar verticalmente */
  background-color: #dc3545; /* Vermelho mais forte */
  color: #fff; /* Cor do ícone */
}

.voltar-ao-topo i {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input, button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #dc3545; /* Vermelho mais forte */
  border-radius: 5px;
}

button {
  background-color: #dc3545; /* Vermelho mais forte */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c82333; /* Vermelho mais escuro no hover */
}

.input-group {
  margin-bottom: 20px;
}

#resultados {
  margin-top: 20px;
}

.item {
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-header h2 {
  color: #333;
}

.mercados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.mercado {
  margin-bottom: 18px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffe4e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}

.lista-mercado {
  list-style-type: none;
  margin-bottom: 20px;
}

.lista-mercado h2 {
  margin-bottom: 10px;
  color: #dc3545;
}

.lista-mercado ul {
  list-style: none;
  padding: 0;
}

.lista-mercado li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffe4e7;
}

.lista-mercado li:hover {
  background-color: #ff0606;
  color: #fff;
  transition: all 0.2s;
}

.lista-mercado p {
  font-weight: bold;
  color: #cd3545;
}

/* Estilizando a lista de mercado */
.lista-mercado {
  margin-top: 20px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .lista-mercado li {
    padding: 8px; /* Reduza o preenchimento para economizar espaço em dispositivos móveis */
  }
}
